@import "breakpoints";

.form-card {
  width: 80vw;
  max-width: 600px;
  position: relative;
  overflow: hidden;
  padding: 25px;

  .card-header {
    width: 100%;
    color: #69f0ae;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      max-width: 250px;
      text-align: left;
    }

    .box-logo {
      height: 70px;
    }
  }

  .form-layer {
    .form-section {
      margin: 20px 0px;
    }

    .number-input-field {
      max-width: 50px;
      font-size: 16px;
      text-align: center;
    }

    .text-form-field {
      font-size: 16px;
      width: 100%;
    }
  }

  .actions-layer {
    margin: 0px;

    .submit-button {
      font-size: 14px;
      padding: 5px 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
