<mat-card class="form-card">
  <mat-card-content>
    <div class="card-header">
      <div class="title">
        <h1>Formulário para compra de <strong>adesivos</strong></h1>
      </div>

      <img src="assets/logos/box-logo.png" class="box-logo" alt="box-logo" />
    </div>

    <form id="stickersForm" class="form-layer" [formGroup]="stickersForm">
      <section class="form-section" formGroupName="stickers">
        <h3>Quais adesivos:</h3>
        <p>
          <mat-checkbox formControlName="react">React</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="vue">Vue</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="angular">Angular</mat-checkbox>
        </p>
      </section>
      <section class="form-section">
        <h3>Quantos adesivos de cada ?</h3>
        <div>
          <button mat-icon-button (click)="decrement()">
            <mat-icon>remove</mat-icon>
          </button>
          <mat-form-field
            color="accent"
            appearance="standard"
            class="number-input-field"
          >
            <input
              matInput
              type="phone"
              maxlength="4"
              formControlName="quantity"
            />
          </mat-form-field>
          <button mat-icon-button (click)="increment()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-error
          @fade
          *ngIf="quantity.touched && quantity.errors?.['required']"
        >
          Campo <strong>obrigatório</strong>
        </mat-error>
        <mat-error @fade *ngIf="quantity.touched && quantity.errors?.['min']">
          Valor deve ser maior que <strong>0</strong>
        </mat-error>
      </section>
      <section class="form-section">
        <h3>Observações:</h3>
        <mat-form-field
          class="text-form-field"
          appearance="fill"
          color="accent"
        >
          <mat-label>Alguma dúvida? Recado?</mat-label>
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
      </section>
    </form>
  </mat-card-content>

  <mat-card-actions align="end" class="actions-layer">
    <button
      mat-stroked-button
      class="submit-button"
      color="accent"
      [disabled]="!stickersForm.valid"
      (click)="onSubmit()"
      id="submitBtn"
    >
      Enviar
    </button>
  </mat-card-actions>
</mat-card>
